body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    background-color: #eeedec;
}

header {
    width: 50vw;
    margin: 2vh auto;
    padding: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    display: block;
    width: 40 vw;
    font-size: 1.5rem;
    line-height: 1.5em;
    margin: 1vw;
}

.card {
    width: 400px;
    margin: 1vw auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 3pt 4pt 8pt silver;
}

.hidden {
    display: none;
}

.time img {
    width: 400px;
    object-fit: contain;
}

.icon img {
    width: 100px;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    border-radius: 50%;
    background-color: rgb(244, 246, 250);
}
.details {
    text-transform: uppercase;
}

.city-name {
    font-size: 1.7rem;
}

.weather-condition {
    font-size: 1rem;
}

.temperature {
    font-size: 3rem;
}
